.container {
  text-align: center
}

.comicTitle {
  color: white;
  font-size: 40px;
  margin: 40px;
  text-align: center;
}

.cntImage {
  margin: auto;
  position: relative;

  @media (min-width: 769px) {
    display: inline-block;
  }
}

.comicImage {
  margin: auto;
  display: block;
  width: 90%;

    @media (min-width: 769px) {
      max-height: 500px;
    }
}

.refreshIcon {
  margin-top: 20px;
  border: none;
  background: none;
  outline: none;
  &:hover {
    cursor: pointer;
  }
}
