.title {
  padding-top: 120px;
  text-align: center;
}

.content {
  color: white;
  font-size: 22px;
  text-align: center;
  padding: 35px;

  @media (min-width: 376px) {
    padding: 80px;
  }

  @media (min-width: 769px) {
    padding: 100px 180px 100px 180px;;
  }
}

.logo {
  width: 250px;
}

.btn {
  text-align: center;
}

.generalButton {
  display: inline-block;
  margin: auto;
  width: 120px;
  background-color: #D3C21B;
  border: 2px solid black;
  font-size: 20px;
  text-decoration: none;
  color: black;
  padding: 15px 0;
  &:hover {
    box-shadow: 0 0 20px 3px rgba(138, 121, 138, 0.9) ;
    cursor: pointer;
  }
}
